# {{ ansible_managed }}
# Local alias database

{% if cts_role_postfix_aliases is defined and cts_role_postfix_aliases %}
{%     for alias, list in cts_role_postfix_aliases.iteritems() %}
{{ "%-24s" | format(alias + ":") }} {{ ", ".join(list) }}
{%     endfor %}
{% endif %}
