# {{ ansible_managed }}
# See /usr/share/postfix/main.cf.dist for a commented, more complete version

smtpd_banner = ESMTP
biff = no
append_dot_mydomain = no
readme_directory = no
soft_bounce = {{ cts_role_postfix.soft_bounce|default("no") }}


# TLS parameters
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# TLS security hardening
smtpd_tls_mandatory_protocols = !SSLv2,!SSLv3
smtpd_tls_protocols = !SSLv2,!SSLv3
smtpd_use_tls=yes

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

# General
myhostname = {% if cts_role_postfix.myhostname is defined %}{{ cts_role_postfix.myhostname }}{% else %}{{ ansible_fqdn }}{% endif %}

myorigin = {{ ansible_fqdn }}

mydestination = localhost.localdomain, localhost.$mydomain, localhost {{ ansible_fqdn }} {{ cts_role_postfix.mydestination|default('') }}
mynetworks = {% for mynetwork in cts_role_postfix.mynetworks|default([]) %}{{ mynetwork + ' ' }}{% endfor %}{{ ansible_default_ipv4.address + '/32' }} 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mailbox_command = procmail -a "$EXTENSION"
mailbox_size_limit = 0
recipient_delimiter = +
inet_protocols = {{ cts_role_postfix.inet_protocols|default("ipv4") }}
inet_interfaces = {{ cts_role_postfix.interfaces|default('loopback-only') }}
relayhost = {{ cts_role_postfix.relayhost|default('') }}
